body{
  color: #FFFFFF;
  background-color: #0f0e0e;
  font-size: 1.2rem;
}

.container{
  position: relative;
  height: 100vh;
  display: grid;
  place-items: center;
}

.input-content{
  display: grid;
  row-gap: 1.75rem;
  margin-bottom: 1.5rem;
}

.input-box{
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: .75rem;
  position: relative;
  border-bottom: 2px solid white;
}

.input-icon{
  font-size: 1.25rem;
}

.input-input{
  border: none;
  outline: none;
  width: 100%;
  font-size: 1.5rem;
  padding-block: 0.55rem;
  background: none;
  color: #FFFFFF;
}

.input-label{
  position: absolute;
  padding-left: 30px;
  left: 0;
  top: 13px;
  font-weight: 500;
  transition: top .3s, font-size .3s;
}

.input-input:focus + .input-label,
.input-input:not(:placeholder-shown)
.input-input:not(:focus) + .input-label{
top: -12px;
font-size: 0.95rem;
}