/* Image Zoom Effect Styles */
.zoom-wrapper {
  height: 200px;
  width: fit-content;
  overflow: hidden;
  border-radius: 16px;
}

.zoom-wrapper img {
  height: 100%;
  object-fit: cover;
  transition: transform 0.8s ease-in-out;
  display: block;
}

.zoom-wrapper:hover img {
  transform: scale(1.2);
  cursor: pointer;
}
